:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  ---dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(./images/bg-intro-desktop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.875rem;
}

.text h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2.375rem;
}

.text p {
  font-size: 1rem;
}

.notice {
  padding: 1.25rem;
  text-align: center;
  background: var(--blue);
  border-radius: 10px;
  margin-bottom: 1.25rem;
  font-weight: 300;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 30%);
}

form {
  background: var(--white);
  border-radius: 8px;
  padding: 1.875rem 2.5rem;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 30%);
}

.bloc_input {
  position: relative;
}

input {
  width: 100%;
  margin: 0.625rem 0;
  padding: 1.25rem 1.875rem;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 1px solid var(--grayish-blue);
}

.icon_error {
  display: none;
  position: absolute;
  top: 1.875rem;
  right: 1.5rem;
}

.text_error {
  display: none;
  color: var(--red);
  font-size: 0.688rem;
  font-weight: 500;
  text-align: right;
  margin-bottom: 0.625rem;
}

.bloc_input.error_active input {
  border-color: var(--red);
  color: var(--red);
}

.bloc_input.error_active input::placeholder {
  opacity: 0;
}

.bloc_input.error_active .text_error,
.bloc_input.error_active .icon_error {
  display: block;
}

button {
  width: 100%;
  border: none;
  text-transform: uppercase;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: var(--green);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 65%;
}

.terms {
  font-size: 0.75rem;
  color: var(--grayish-blue);
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
    text-align: center;
  }

  .container {
    display: block;
    width: auto;
  }

  .text {
    padding: 0.75rem;
    margin-bottom: 3.75rem;
  }

  .text h1 {
    font-size: 2rem;
    line-height: 2.75rem;
    margin-bottom: 1.625rem;
  }

  .notice {
    padding: 1.25rem 4.688rem;
  }

  form {
    padding: 1.5rem;
  }

  .terms {
    padding: 0 0.5rem;
  }
}
